
/* bendri stiliai: */
.row {
    display: flex;
}

/* pirma eile */

.pirmas {
    background: lightblue;
    justify-content: center;
    gap: 20px;
    height: 500px;
    align-items: center;
}

.pirmas .col {
    width: 15%;
    background: rgba(0, 0, 0, 0.2);
}

.pirmas .nr1 {
    order: 1;
}

.pirmas .nr2 {
    order: 2;
}

.pirmas .nr3 {
    order: 3;
}

.pirmas .nr4 {
    order: 4;
}

/* antra eile */

.antras {
    background: orange;
    gap: 30px;
}

.antras .col {
    flex: 1;
    
}

.antras .platesnis {
    flex: 2;
}

/* trecia eile */

.trecias {
    background: lightskyblue;
}

.trecias .kairys {
    width: 150px;
    flex-shrink: 0;
    background: yellowgreen;
}

.trecias .desinys {
    background: rgba(255, 255, 255, 0.5);
    flex-grow: 1;
}

/* ketvirta eile */

.ketvirtas {
    background: lightgreen;
    height: 800px;
    flex-direction: column;
}

.ketvirtas .col:nth-child(2) {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.5);
}

/* penkta eile */

.penktas {
    background: gray;
}