.blokas6 {
    display: flex;
    gap: 192.53px;
    

   img {
        box-sizing: border-box;
        width: 412.35px;
        height: 655.6px;
        object-fit: cover;
    }

    .blokas {

        width: 677.24px;
        height: 348.33px;

        padding-top: 149.62px;


        h3 {
            width: 261.56px;
            height: 27.82px;
            margin-bottom: 5.54px;
        }

        h1 {
            width: 690px;
            height: 76.28px;
            margin-bottom: 49.01px;
        }

        p {
            font-family: $font-2;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;

            margin: 0 0 60px 0;
            color: $white;
        }

        form {
            display: flex;
            gap: 17.22px;

            ::placeholder {
                font-family: $font-2;
                font-size: 14px;
                font-weight: 400;
                line-height: 19.07px;
                text-align: left;

                color: $white;
                opacity: 50%;

            }

            input[type=email] {
                display: inline-block;
                width: 366.92px;
                height: 60px;
                border-radius: 5px;
                border: none;
                background: rgba(255, 255, 255, 0.08);

                &:focus {
                    box-shadow: 0px 0px 0px 2px $orange;
                }
            }


            input[type=submit] {
                display: inline-block;
                width: 260px;
                height: 60.32px;

                background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

                font-family: $font-2;
                font-size: 16px;
                font-weight: 700;
                line-height: 21.79px;
                text-align: center;

                border-radius: 5px;
                border: none;

                cursor: pointer;

                transition: 0.3s all;

                &:hover {
                    color: $white;
                    transform: scale(1.05);
                }
            }
        }
    }

}