$font-1: "Bebas Neue", sans-serif;
$font-2: "Open Sans", sans-serif;

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}