@import 'spalvos.scss';
@import 'tekstai.scss';
@import 'navigacija.scss';


body {
    margin: 0;
}

.container {
    max-width: 100%;
    width: 1320px;
    height: 200px;
    margin: 0 auto;
    background: rgb(88, 88, 88);
}

