h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  margin: 0; }

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0; }

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0; }

nav {
  margin: 0;
  display: flex;
  justify-content: space-between; }
  nav .logo img {
    width: 87px;
    height: 93px;
    margin-top: 29px; }
  nav .menu-juosta {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67.25px;
    margin: 71px 150px 0 137px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.1em;
    text-align: left; }
    nav .menu-juosta a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s all; }
      nav .menu-juosta a:hover {
        color: #ffb548; }
  nav .kalba {
    box-sizing: border-box;
    height: 20px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin: 75px 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.1em;
    text-align: right;
    text-decoration: none; }
    nav .kalba p {
      color: white;
      text-transform: uppercase;
      transition: 0.2s all; }
      nav .kalba p:hover {
        color: #ffb548; }
    nav .kalba img {
      transition: 0.2s all; }
    nav .kalba:hover img {
      transform: rotate(180deg); }
  nav .ikoneles {
    height: 30.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin: 68px 0 0 0; }
    nav .ikoneles .xbox:hover img {
      transform: rotate(360deg); }
    nav .ikoneles .steam:hover img {
      transform: rotate(360deg); }
    nav .ikoneles img {
      transition: 0.8s all; }
  nav .bruksnys {
    width: 0px;
    height: 30px;
    border: 1px solid white;
    margin: 68px 29px 0 21px; }

.blokas1 {
  margin: 363px 0 0 0;
  text-align: center; }
  .blokas1 h1, .blokas1 h3 {
    color: white; }
  .blokas1 a.buy-steam {
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260.36px;
    height: 60.06px;
    border-radius: 5px;
    background: linear-gradient(#ffb548, #f3af34);
    margin: 26px auto 0;
    text-decoration: none; }
    .blokas1 a.buy-steam:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4); }
      .blokas1 a.buy-steam:hover p {
        color: white; }
      .blokas1 a.buy-steam:hover .bruksnys {
        border: 1px solid rgba(255, 255, 255, 0.5); }
    .blokas1 a.buy-steam p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.79px;
      text-align: center;
      color: #1a1917;
      transition: 0.2s all; }
    .blokas1 a.buy-steam .bruksnys {
      width: 0px;
      height: 23.95px;
      border: 1px solid rgba(26, 25, 23, 0.5);
      margin: 0 11px; }
  .blokas1 a.btn-toliau {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 88px;
    height: 31.53px;
    text-decoration: none;
    margin: 513px 0 0 0; }
    .blokas1 a.btn-toliau:hover p {
      color: #ffb548; }
    .blokas1 a.btn-toliau:hover img {
      transform: translate(0px, 10px); }
    .blokas1 a.btn-toliau p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
      margin: 0;
      transition: 0.3s all; }
    .blokas1 a.btn-toliau img {
      transition: 1s all; }

.blokas2 {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .blokas2 .left-block {
    position: relative;
    width: 540px;
    height: 707.27px;
    padding: 399px 0 0 0;
    color: white; }
    .blokas2 .left-block h1 {
      margin: 0 0 95.3px 0; }
    .blokas2 .left-block h3 {
      margin: 0 0 12px 0; }
    .blokas2 .left-block p {
      position: relative;
      z-index: 5000;
      width: 364.85px;
      height: 173.76px;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: justify;
      padding: 0 0 0 171px; }
      .blokas2 .left-block p .w-span {
        font-weight: 700; }
    .blokas2 .left-block img {
      z-index: 1000;
      position: absolute;
      left: 335px;
      top: 859px; }
  .blokas2 .right-block {
    position: relative;
    width: 698.33px;
    height: 707.27px;
    padding: 288px 0 0 0; }
    .blokas2 .right-block .img1 {
      z-index: 3000;
      position: absolute;
      width: 581.82px;
      height: 707.27px;
      border-radius: 10px; }
    .blokas2 .right-block .img2 {
      z-index: 2000;
      position: absolute;
      width: 507.18px;
      height: 652.49px;
      border-radius: 10px;
      left: 105.08px;
      top: 311.63px; }
    .blokas2 .right-block .img3 {
      z-index: 1000;
      position: absolute;
      width: 507.18px;
      height: 592.69px;
      border-radius: 10px;
      left: 130.42px;
      top: 342.43px; }
    .blokas2 .right-block .ikonele {
      position: absolute;
      top: 635.24px;
      right: 0px;
      transition: 1s all; }
      .blokas2 .right-block .ikonele:hover {
        transform: translate(5px, 0px); }
    .blokas2 .right-block .paspaustas {
      position: absolute;
      top: 945.25px;
      left: 136.94px;
      z-index: 5000; }
    .blokas2 .right-block .nepaspaustas1 {
      position: absolute;
      top: 945.25px;
      left: 214.21px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas2 {
      position: absolute;
      top: 945.25px;
      left: 291.48px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas3 {
      position: absolute;
      top: 945.25px;
      left: 368.75px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas4 {
      position: absolute;
      top: 945.25px;
      left: 446.02px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .active-linija {
      position: absolute;
      bottom: 35.5px;
      left: 145.9px;
      z-index: 5000; }
    .blokas2 .right-block .nepaspaustas1:hover, .blokas2 .right-block .nepaspaustas2:hover, .blokas2 .right-block .nepaspaustas3:hover, .blokas2 .right-block .nepaspaustas4:hover {
      transform: translate(0px, -5px); }
  .blokas2 .linija-img {
    z-index: 4000;
    position: absolute;
    top: 638px; }

body {
  margin: 0; }

.container {
  max-width: 100%;
  width: 1320px;
  height: 125.5px;
  margin: 0 auto; }

.back-img-1 {
  margin: 0;
  width: 100%;
  height: 1279px;
  background-image: url("../img/bck-1.png"); }

.back-img-2 {
  margin: 0;
  width: 100%;
  height: 1279px;
  background-image: url("../img/bck-2.png"); }

/*# sourceMappingURL=main-css.css.map */
