h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  margin: 0; }

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0; }

h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0; }

nav {
  margin: 0;
  display: flex;
  justify-content: space-between; }
  nav .logo img {
    width: 87px;
    height: 93px;
    margin-top: 29px;
    transition: 0.6s all; }
  nav .logo:hover img {
    transform: scale(1.2); }
  nav .menu-juosta {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67.25px;
    margin: 71px 150px 0 137px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.1em;
    text-align: left; }
    nav .menu-juosta a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s all; }
      nav .menu-juosta a:hover {
        color: #ffb548; }
  nav .lang-mygtukas {
    display: flex;
    gap: 5px;
    background-color: transparent;
    width: 39.07px;
    height: 21.9px;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.1em;
    text-align: right;
    margin: 75px 0 0 0;
    padding-left: 5px;
    cursor: pointer; }
  nav .drop-menu {
    position: relative;
    display: inline-block; }
    nav .drop-menu img {
      transition: 0.3s all; }
  nav .dropdown-vidus {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    min-width: 58px;
    border-radius: 3px;
    opacity: 0px;
    z-index: 1;
    padding-top: 8px;
    padding-bottom: 8px; }
  nav .dropdown-vidus a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    padding-left: 8px; }
  nav .dropdown-vidus a:hover {
    color: #ffb548; }
  nav .drop-menu:hover img {
    transform: rotate(180deg); }
  nav .drop-menu:hover .dropdown-vidus {
    display: block; }
  nav .ikoneles {
    height: 30.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin: 68px 0 0 0; }
    nav .ikoneles .xbox:hover img {
      transform: rotate(40deg); }
    nav .ikoneles .steam:hover img {
      transform: rotate(40deg); }
    nav .ikoneles img {
      transition: 0.8s all; }
  nav .bruksnys {
    width: 0px;
    height: 30px;
    border: 1px solid white;
    margin: 68px 29px 0 30px; }
  nav .drop-burger {
    display: none; }

.blokas1 {
  margin: 363px 0 0 0;
  text-align: center; }
  .blokas1 h1, .blokas1 h3 {
    color: white; }
  .blokas1 a.buy-steam {
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260.36px;
    height: 60.06px;
    border-radius: 5px;
    background: linear-gradient(#ffb548, #f3af34);
    margin: 26px auto 0;
    text-decoration: none;
    transition: 0.3s all; }
    .blokas1 a.buy-steam:hover {
      transform: scale(1.1); }
      .blokas1 a.buy-steam:hover p {
        color: white; }
      .blokas1 a.buy-steam:hover .bruksnys {
        border: 1px solid rgba(255, 255, 255, 0.5); }
    .blokas1 a.buy-steam p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.79px;
      text-align: center;
      color: #1a1917;
      transition: 0.2s all; }
    .blokas1 a.buy-steam .bruksnys {
      width: 0px;
      height: 23.95px;
      border: 1px solid rgba(26, 25, 23, 0.5);
      margin: 0 11px;
      opacity: 50%; }
  .blokas1 a.btn-toliau {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 88px;
    height: 31.53px;
    text-decoration: none;
    margin: 513px 0 0 0; }
    .blokas1 a.btn-toliau:hover p {
      color: #ffb548; }
    .blokas1 a.btn-toliau:hover img {
      transform: translate(0px, 20px);
      opacity: 10%; }
    .blokas1 a.btn-toliau p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
      margin: 0;
      transition: 0.3s all; }
    .blokas1 a.btn-toliau img {
      transition: 1s all; }

.blokas2 {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .blokas2 .left-block {
    position: relative;
    width: 540px;
    height: 707.27px;
    padding: 399px 0 0 0;
    color: white; }
    .blokas2 .left-block h1 {
      margin: 0 0 95.3px 0; }
    .blokas2 .left-block h3 {
      margin: 0 0 12px 0; }
    .blokas2 .left-block p {
      position: relative;
      z-index: 5000;
      width: 364.85px;
      height: 173.76px;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: justify;
      padding: 0 0 0 171px; }
      .blokas2 .left-block p .w-span {
        font-weight: 700; }
    .blokas2 .left-block img {
      z-index: 1000;
      position: absolute;
      left: 335px;
      top: 859px; }
  .blokas2 .right-block {
    position: relative;
    width: 698.33px;
    height: 707.27px;
    padding: 288px 0 0 0; }
    .blokas2 .right-block .img1 {
      z-index: 3000;
      position: absolute;
      width: 581.82px;
      height: 707.27px;
      border-radius: 10px; }
    .blokas2 .right-block .img2 {
      z-index: 2000;
      position: absolute;
      width: 507.18px;
      height: 652.49px;
      border-radius: 10px;
      left: 105.08px;
      top: 311.63px; }
    .blokas2 .right-block .img3 {
      z-index: 1000;
      position: absolute;
      width: 507.18px;
      height: 592.69px;
      border-radius: 10px;
      left: 130.42px;
      top: 342.43px; }
    .blokas2 .right-block .ikonele {
      position: absolute;
      top: 635.24px;
      right: 0px;
      transition: 1s all; }
      .blokas2 .right-block .ikonele:hover {
        transform: translate(5px, 0px); }
    .blokas2 .right-block .paspaustas {
      position: absolute;
      top: 945.25px;
      left: 136.94px;
      z-index: 5000; }
    .blokas2 .right-block .nepaspaustas1 {
      position: absolute;
      top: 945.25px;
      left: 214.21px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas2 {
      position: absolute;
      top: 945.25px;
      left: 291.48px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas3 {
      position: absolute;
      top: 945.25px;
      left: 368.75px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .nepaspaustas4 {
      position: absolute;
      top: 945.25px;
      left: 446.02px;
      z-index: 5000;
      transition: 0.6s all; }
    .blokas2 .right-block .active-linija {
      position: absolute;
      bottom: 35.5px;
      left: 145.9px;
      z-index: 5000; }
    .blokas2 .right-block .nepaspaustas1:hover, .blokas2 .right-block .nepaspaustas2:hover, .blokas2 .right-block .nepaspaustas3:hover, .blokas2 .right-block .nepaspaustas4:hover {
      transform: translate(0px, -5px); }
  .blokas2 .linija-img {
    z-index: 8000;
    position: absolute;
    top: 638px; }

.blokas3 {
  position: relative; }
  .blokas3 .block {
    position: absolute;
    width: 450px;
    height: 439.67px;
    top: 371.12px;
    left: 869px; }
    .blokas3 .block h1 {
      color: white;
      padding: 9.56px 0 66.75px 0; }
    .blokas3 .block h3 {
      color: white; }
    .blokas3 .block .pirmas-o {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 188.96px; }
    .blokas3 .block .antras-o {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 337.73px; }
    .blokas3 .block .trecias-o {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 414.65px; }
    .blokas3 .block .p-baras {
      position: absolute;
      left: 5.5px;
      top: 195px;
      width: 0px;
      height: 142px;
      border: 1px solid white; }
    .blokas3 .block .pastumtas {
      padding: 0 0 0 46.08px; }
      .blokas3 .block .pastumtas h2 {
        line-height: 36px;
        letter-spacing: 2px;
        text-align: left;
        color: #ffb548;
        height: 38.23px; }
        .blokas3 .block .pastumtas h2:last-child {
          margin-top: 36.71px; }
      .blokas3 .block .pastumtas p {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: white;
        width: 362.52px;
        height: 77.79px;
        margin: 8.63px 0 24.21px 0; }

.blokas4 {
  position: relative;
  text-align: center; }
  .blokas4 h3 {
    height: 27.7px;
    color: white;
    margin: 0 auto;
    padding-top: 233.21px;
    padding-bottom: 8.48px; }
  .blokas4 h1 {
    height: 73.64px;
    color: white;
    margin: 0 auto; }
  .blokas4 .sys-kvadratas {
    position: absolute;
    top: 512px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 573.2px;
    height: 400.69px;
    padding: 19.41px 19.16px;
    background-image: url("../img/kvadratas.svg");
    background-size: contain;
    background-repeat: no-repeat; }
    .blokas4 .sys-kvadratas .settings {
      width: calc((100% - 10px) / 2);
      height: calc((100% - 10px * 2) / 3); }
      .blokas4 .sys-kvadratas .settings h3 {
        padding: 0;
        margin: 0;
        text-align: left;
        color: #ffb548; }
      .blokas4 .sys-kvadratas .settings p {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: white;
        margin: 0;
        padding: 0; }
    .blokas4 .sys-kvadratas .big {
      width: 100%; }

.blokas5 {
  position: relative; }
  .blokas5 .kairys-block {
    position: absolute;
    top: 442.77px;
    width: 437.5px;
    height: 387.3px; }
    .blokas5 .kairys-block h3 {
      width: 261.93px;
      height: 27.7px; }
    .blokas5 .kairys-block h1 {
      padding-bottom: 50px; }
    .blokas5 .kairys-block p {
      margin: 0;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      width: 434.95px;
      height: 136.14px; }
    .blokas5 .kairys-block button {
      margin-top: 37.29px;
      width: 260.36px;
      height: 60.06px;
      background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
      font-family: "Open Sans", sans-serif;
      color: black;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.79px;
      text-align: center;
      border: none;
      border-radius: 5px;
      transition: 0.3s all;
      cursor: pointer; }
      .blokas5 .kairys-block button:hover {
        color: white;
        transform: scale(1.1); }
  .blokas5 .desinys-block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: absolute;
    width: 639.33px;
    height: 653.57px;
    top: 146px;
    left: 465px;
    margin-left: 27.5px; }
    .blokas5 .desinys-block .kvadratas1, .blokas5 .desinys-block .kvadratas2, .blokas5 .desinys-block .kvadratas3 {
      box-sizing: border-box;
      position: relative;
      width: 453.89px;
      background: rgba(255, 255, 255, 0.08);
      padding: 26px 17px 22px 17px;
      border-radius: 10px;
      transition: 0.6s all; }
      .blokas5 .desinys-block .kvadratas1 p, .blokas5 .desinys-block .kvadratas2 p, .blokas5 .desinys-block .kvadratas3 p {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: white;
        margin: 0;
        width: 389.97px; }
      .blokas5 .desinys-block .kvadratas1 h3, .blokas5 .desinys-block .kvadratas2 h3, .blokas5 .desinys-block .kvadratas3 h3 {
        color: #ffb548;
        width: 261.93px;
        height: 25px;
        margin-left: 92px; }
      .blokas5 .desinys-block .kvadratas1 .role, .blokas5 .desinys-block .kvadratas2 .role, .blokas5 .desinys-block .kvadratas3 .role {
        opacity: 50%;
        width: 384.19px;
        height: 35.46px;
        margin-bottom: 19.88px;
        margin-left: 92px; }
      .blokas5 .desinys-block .kvadratas1 .date, .blokas5 .desinys-block .kvadratas2 .date, .blokas5 .desinys-block .kvadratas3 .date {
        font-size: 14px;
        line-height: 19.07px;
        opacity: 50%;
        margin-top: 15px; }
      .blokas5 .desinys-block .kvadratas1 .ellipse, .blokas5 .desinys-block .kvadratas2 .ellipse, .blokas5 .desinys-block .kvadratas3 .ellipse {
        width: 64.31px;
        height: 64.31px;
        position: absolute;
        top: 9px;
        left: 22.44px; }
      .blokas5 .desinys-block .kvadratas1 .profilis, .blokas5 .desinys-block .kvadratas2 .profilis, .blokas5 .desinys-block .kvadratas3 .profilis {
        position: absolute;
        width: 61.92px;
        height: 61.9px;
        border-radius: 50%;
        top: 10px;
        left: 14.88px; }
      .blokas5 .desinys-block .kvadratas1 .twitter, .blokas5 .desinys-block .kvadratas2 .twitter, .blokas5 .desinys-block .kvadratas3 .twitter {
        position: absolute;
        width: 18.03px;
        height: 14.02px;
        top: 30.33px;
        right: 19.99px; }
      .blokas5 .desinys-block .kvadratas1 a, .blokas5 .desinys-block .kvadratas2 a, .blokas5 .desinys-block .kvadratas3 a {
        transition: 0.2s all; }
      .blokas5 .desinys-block .kvadratas1 a:hover, .blokas5 .desinys-block .kvadratas2 a:hover, .blokas5 .desinys-block .kvadratas3 a:hover {
        opacity: 50%; }
      .blokas5 .desinys-block .kvadratas1:hover, .blokas5 .desinys-block .kvadratas2:hover, .blokas5 .desinys-block .kvadratas3:hover {
        transform: scale(1.15); }
    .blokas5 .desinys-block .kvadratas1 {
      margin-left: 146.12px; }
    .blokas5 .desinys-block .kvadratas3 {
      margin-left: 105.79px; }

.blokas6 {
  position: relative;
  display: flex;
  gap: 192.53px; }
  .blokas6 .gradient {
    z-index: 1000;
    position: absolute;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
    width: 412.35px;
    height: 655.6px; }
  .blokas6 img {
    box-sizing: border-box;
    width: 412.35px;
    height: 655.6px;
    object-fit: cover;
    transform: scaleX(-1);
    object-position: -715px 0; }
  .blokas6 .blokas {
    position: relative;
    width: 677.24px;
    height: 348.33px;
    padding-top: 149.62px; }
    .blokas6 .blokas h3 {
      width: 261.56px;
      height: 27.82px;
      margin-bottom: 5.54px; }
    .blokas6 .blokas h1 {
      width: 690px;
      height: 76.28px;
      margin-bottom: 49.01px; }
    .blokas6 .blokas p {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin: 0 0 60px 0;
      color: white; }
    .blokas6 .blokas form {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 17.22px; }
      .blokas6 .blokas form input[type=email] {
        box-sizing: border-box;
        display: inline-block;
        width: 366.92px;
        height: 60px;
        border-radius: 5px;
        border: none;
        background: rgba(255, 255, 255, 0.08);
        color: #ffb548;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding: 27px 0 10px 21px; }
        .blokas6 .blokas form input[type=email]:focus {
          box-shadow: 0px 0px 0px 2px #ffb548; }
      .blokas6 .blokas form input[type=submit] {
        display: inline-block;
        width: 260px;
        height: 60.32px;
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-align: center;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s all; }
        .blokas6 .blokas form input[type=submit]:hover {
          color: white;
          transform: scale(1.05); }
    .blokas6 .blokas .email-txt {
      position: absolute;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      text-align: left;
      color: white;
      opacity: 50%;
      top: 443px;
      left: 37px; }

footer {
  margin: 0;
  padding: 29.89px 0 0 0; }
  footer .virsus {
    display: flex; }
    footer .virsus .logo {
      margin-right: 131.15px; }
      footer .virsus .logo img {
        width: 111.24px;
        height: 111.24px;
        transition: 0.6s all; }
      footer .virsus .logo:hover img {
        transform: scale(1.2); }
    footer .virsus .menu-juosta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;
      margin-right: 77px; }
      footer .virsus .menu-juosta a {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19.07px;
        letter-spacing: 0.1em;
        text-align: right;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: 0.2s all; }
        footer .virsus .menu-juosta a:hover {
          color: #ffb548; }
    footer .virsus .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58.62px; }
      footer .virsus .socials a {
        position: relative;
        transition: 0.6s all; }
        footer .virsus .socials a:hover {
          transform: scale(1.3); }
          footer .virsus .socials a:hover .skraido {
            transform: scale(1.5);
            transform: translate(-10px, -5px); }
      footer .virsus .socials .skraido {
        position: absolute;
        top: 16.08px;
        left: 25.96px;
        transition: 0.6s all; }
  footer hr {
    margin: 34px 0; }
  footer .apacia {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .apacia p {
      width: 420.11px;
      height: 27.07px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      text-align: left;
      color: white;
      opacity: 50%; }
    footer .apacia a {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      letter-spacing: 0.1em;
      text-align: right;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s all; }
      footer .apacia a:hover {
        color: #ffb548; }

body {
  margin: 0; }

.container {
  max-width: 100%;
  width: 1320px;
  margin: 0 auto; }

.back {
  height: 7563px;
  background: #090a0c; }

.back-img-1 {
  margin: 0;
  width: 100%;
  height: 1279px;
  background-image: url("../img/bck-1.png");
  background-size: cover; }

.back-img-2 {
  margin: 0;
  width: 100%;
  height: 1279px;
  background-image: url("../img/bck-2.png");
  background-size: cover; }

.back-img-3 {
  margin: 0;
  width: 100%;
  height: 1179px;
  background-image: url("../img/bck-3.png");
  background-size: cover; }

.back-img-4 {
  margin: 0;
  width: 100%;
  height: 1265.22px;
  background-image: url("../img/bck-4.png");
  background-size: cover; }

.back-img-5 {
  margin: 0;
  width: 100%;
  height: 1260.16px;
  background-image: url("../img/bck-5.png");
  background-size: cover; }

.back-img-6 {
  margin: 0;
  width: 100%;
  height: 980.84px; }

.back-img-7 {
  margin: 0;
  width: 100%;
  height: 310.24px; }

@media only screen and (max-width: 320px) {
  .container {
    width: 290px;
    padding: 0 15px; }

  .back {
    height: 4450px; }

  .back-img-1 {
    margin: 0;
    width: 100%;
    height: 650px;
    background-position: 44.5%; }

  nav {
    width: 52px; }
    nav .logo img {
      width: 32.96px;
      height: 32.96px;
      margin-top: 9.96px;
      margin-right: 145px; }
    nav .lang-mygtukas {
      margin: 18.88px 0 0 0; }
    nav .bruksnys {
      margin: 12.83px 6.21px 0 29.5px; }
    nav .menu-juosta {
      display: none; }
    nav .ikoneles {
      display: none; }
    nav .lang-mygtukas-2 {
      display: flex;
      gap: 5px;
      background-color: transparent;
      width: auto;
      height: 21.9px;
      color: white;
      padding: 0;
      margin: 0;
      font-size: 14px;
      border: none;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      letter-spacing: 0.1em;
      text-align: right;
      margin: 19px 0 0 0;
      padding-left: 5px;
      cursor: pointer; }
    nav .drop-burger {
      position: relative;
      display: inline-block; }
      nav .drop-burger img {
        transition: 0.3s all; }
    nav .dropdown-vidus-2 {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.75);
      min-width: 242px;
      border-radius: 3px;
      opacity: 0px;
      z-index: 1;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: uppercase;
      top: 40px;
      right: -8px; }
      nav .dropdown-vidus-2 hr {
        width: 95%;
        border: 1px solid #ffb548; }
    nav .dropdown-vidus-2 a {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.07px;
      letter-spacing: 0.1em;
      text-align: right;
      color: white;
      margin: 0;
      padding: 5px 0;
      text-decoration: none;
      display: block;
      padding-right: 8px; }
    nav .dropdown-vidus-2 a:hover {
      color: #ffb548; }
    nav .drop-burger:hover img {
      transform: scale(0.8); }
    nav .drop-burger:hover .dropdown-vidus-2, nav .drop-burger:active .dropdown-vidus-2 {
      display: block; }

  .blokas1 {
    width: 100%;
    margin: 176.18px auto 0;
    padding: 0; }
    .blokas1 h1 {
      font-size: 32px;
      line-height: 33px; }
    .blokas1 h3 {
      width: 247.24px;
      height: 40.2px;
      margin: 0 auto;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      margin-top: 7.6px; }
    .blokas1 a.buy-steam {
      width: 216.5px;
      height: 44px;
      margin: 12px auto 0; }
      .blokas1 a.buy-steam p {
        font-size: 14px;
        line-height: 19.07px; }
      .blokas1 a.buy-steam .bruksnys {
        height: 18px; }
    .blokas1 a.btn-toliau {
      margin: 174px 0 0 0; }
      .blokas1 a.btn-toliau p {
        font-size: 12px;
        line-height: 22px; }

  .back-img-2 {
    margin: 0;
    width: 100%;
    height: 689px;
    background-position: 30%; }

  .blokas2 {
    flex-direction: column;
    height: auto; }
    .blokas2 .left-block {
      padding: 0;
      height: auto; }
      .blokas2 .left-block h1 {
        width: 271.55px;
        height: 90.02px;
        font-size: 33px;
        line-height: 33px;
        margin: 5.52px 0 33.99px 0; }
      .blokas2 .left-block h3 {
        width: 153.55px;
        height: 16.24px;
        font-size: 18px;
        line-height: 18px;
        margin: 19px 0 0 0; }
      .blokas2 .left-block p {
        width: 268.61px;
        height: auto;
        font-size: 14px;
        line-height: 16px;
        padding: 0 0 0 21.48px;
        margin-bottom: 51.71px; }
      .blokas2 .left-block img {
        z-index: 1000;
        position: absolute;
        transform: scale(0.75);
        left: 136px;
        top: 303px; }
    .blokas2 .right-block {
      padding: 0;
      width: 290px;
      height: auto; }
      .blokas2 .right-block .img1 {
        z-index: 3000;
        position: absolute;
        width: 225.09px;
        height: 273.33px;
        border-radius: 3px;
        margin-left: 22.79px; }
      .blokas2 .right-block .img2 {
        z-index: 2000;
        position: absolute;
        border-radius: 3px;
        width: 196.21px;
        height: 252.16px;
        top: 9.26px;
        left: 63.44px; }
      .blokas2 .right-block .img3 {
        z-index: 1000;
        position: absolute;
        border-radius: 3px;
        width: 196.21px;
        height: 229.05px;
        top: 21.17px;
        left: 73.24px; }
      .blokas2 .right-block .ikonele {
        position: absolute;
        top: 118px;
        right: -8px;
        transition: 1s all; }
        .blokas2 .right-block .ikonele img {
          transform: scale(0.45); }
        .blokas2 .right-block .ikonele:hover {
          transform: translate(5px, 0px); }
      .blokas2 .right-block .paspaustas {
        position: absolute;
        z-index: 5000;
        transform: scale(0.6);
        top: 245px;
        left: 72px; }
      .blokas2 .right-block .nepaspaustas1 {
        position: absolute;
        z-index: 5000;
        transform: scale(0.6);
        transition: 0.6s all;
        top: 245px;
        left: 102px; }
      .blokas2 .right-block .nepaspaustas2 {
        position: absolute;
        z-index: 5000;
        transform: scale(0.6);
        transition: 0.6s all;
        top: 245px;
        left: 132px; }
      .blokas2 .right-block .nepaspaustas3 {
        position: absolute;
        z-index: 5000;
        transform: scale(0.6);
        transition: 0.6s all;
        top: 245px;
        left: 162px; }
      .blokas2 .right-block .nepaspaustas4 {
        position: absolute;
        z-index: 5000;
        transform: scale(0.6);
        transition: 0.6s all;
        top: 245px;
        left: 192px; }
      .blokas2 .right-block .active-linija {
        position: absolute;
        transform: scale(0.6);
        z-index: 5000;
        top: 248px;
        left: 68px; }
      .blokas2 .right-block .nepaspaustas1:hover,
      .blokas2 .right-block .nepaspaustas2:hover,
      .blokas2 .right-block .nepaspaustas3:hover,
      .blokas2 .right-block .nepaspaustas4:hover {
        transform: scale(0.8); }
    .blokas2 .linija-img {
      transform: scale(0.5);
      z-index: 8000;
      position: absolute;
      top: 130px;
      left: -176px; }

  .back-img-3 {
    margin: 0;
    width: 100%;
    height: 515px;
    background-position: 34% 60%; }

  .blokas3 .block {
    position: relative;
    top: auto;
    left: auto;
    width: 290px;
    height: auto;
    margin: 0 0 0 100.84px; }
    .blokas3 .block h1 {
      padding: 0;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 3px;
      text-align: left;
      height: 57.65px;
      font-weight: 400; }
    .blokas3 .block h3 {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      padding-top: 82px;
      height: 25px;
      font-weight: 400; }
    .blokas3 .block .pirmas-o {
      top: 168px;
      left: -20px; }
    .blokas3 .block .antras-o {
      top: 318px;
      left: -20px; }
    .blokas3 .block .trecias-o {
      top: 395.6px;
      left: -20px; }
    .blokas3 .block .p-baras {
      top: 175px;
      left: -14px; }
    .blokas3 .block .pastumtas {
      padding: 0; }
      .blokas3 .block .pastumtas h2 {
        font-size: 21px;
        line-height: 21px;
        letter-spacing: 2px;
        width: 200px;
        font-weight: 400; }
        .blokas3 .block .pastumtas h2:last-child {
          margin-top: 43px; }
      .blokas3 .block .pastumtas p {
        width: 179.68px;
        height: auto;
        text-align: justify;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px; }

  .back-img-4 {
    margin: 0;
    width: 100%;
    height: 719px;
    background-position: 0 0; }

  .blokas4 h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    height: 27.67px;
    padding: 68.86px 0 0; }
  .blokas4 h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: 3px;
    text-align: center; }
  .blokas4 .sys-kvadratas {
    position: relative;
    top: auto;
    width: 270px;
    height: 316.58px;
    padding: 7px;
    gap: 22px;
    background-size: cover; }
    .blokas4 .sys-kvadratas .settings {
      width: calc((100% - 22px) / 2);
      height: calc((100% - 22px * 2) / 3); }
      .blokas4 .sys-kvadratas .settings h3 {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2px;
        text-align: left;
        font-weight: 400;
        height: 23px; }
      .blokas4 .sys-kvadratas .settings p {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        font-weight: 400; }
    .blokas4 .sys-kvadratas .big {
      width: 100%; }

  .back-img-5 {
    margin: 0;
    width: 100%;
    height: 834px;
    background-position: 0 0; }

  .blokas5 .kairys-block {
    position: relative;
    top: auto;
    height: auto; }
    .blokas5 .kairys-block h3 {
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 2px;
      text-align: left; }
    .blokas5 .kairys-block h1 {
      font-weight: 400;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 3px;
      text-align: left;
      padding: 0; }
    .blokas5 .kairys-block p {
      width: 289.74px;
      height: 86.91px;
      font-size: 14px;
      line-height: 16px;
      text-align: justified;
      padding-top: 35px; }
    .blokas5 .kairys-block button {
      margin: 0 auto;
      margin-top: 25px;
      margin-left: 31px;
      width: 216.5px;
      height: 44px;
      font-size: 14px;
      line-height: 19.07px;
      text-align: center; }
  .blokas5 .desinys-block {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    margin-left: 0;
    padding-top: 30px; }
    .blokas5 .desinys-block .kvadratas1,
    .blokas5 .desinys-block .kvadratas2,
    .blokas5 .desinys-block .kvadratas3 {
      width: 289.98px;
      height: auto;
      padding: 9.5px 16.6px; }
      .blokas5 .desinys-block .kvadratas1 p,
      .blokas5 .desinys-block .kvadratas2 p,
      .blokas5 .desinys-block .kvadratas3 p {
        font-size: 14px;
        line-height: 19.07px;
        text-align: left;
        width: auto; }
      .blokas5 .desinys-block .kvadratas1 h3,
      .blokas5 .desinys-block .kvadratas2 h3,
      .blokas5 .desinys-block .kvadratas3 h3 {
        font-size: 21px;
        line-height: 21px;
        letter-spacing: 2px;
        text-align: left;
        margin: 0;
        margin-left: 60px;
        font-weight: 400; }
      .blokas5 .desinys-block .kvadratas1 .role,
      .blokas5 .desinys-block .kvadratas2 .role,
      .blokas5 .desinys-block .kvadratas3 .role {
        font-size: 14px;
        line-height: 22px;
        text-align: justified;
        margin: 0;
        margin-bottom: 0;
        margin-left: 60px; }
      .blokas5 .desinys-block .kvadratas1 .date,
      .blokas5 .desinys-block .kvadratas2 .date,
      .blokas5 .desinys-block .kvadratas3 .date {
        font-size: 12px;
        line-height: 16.34px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px; }
      .blokas5 .desinys-block .kvadratas1 .ellipse,
      .blokas5 .desinys-block .kvadratas2 .ellipse,
      .blokas5 .desinys-block .kvadratas3 .ellipse {
        top: 10px;
        width: 40px;
        height: 40px; }
      .blokas5 .desinys-block .kvadratas1 .profilis,
      .blokas5 .desinys-block .kvadratas2 .profilis,
      .blokas5 .desinys-block .kvadratas3 .profilis {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 10px;
        left: 14.88px; }
      .blokas5 .desinys-block .kvadratas1 .twitter,
      .blokas5 .desinys-block .kvadratas2 .twitter,
      .blokas5 .desinys-block .kvadratas3 .twitter {
        position: absolute;
        width: 18.03px;
        height: 14px;
        top: 13.36px;
        right: 12.7px; }
      .blokas5 .desinys-block .kvadratas1:hover,
      .blokas5 .desinys-block .kvadratas2:hover,
      .blokas5 .desinys-block .kvadratas3:hover {
        transform: scale(1.05); }
    .blokas5 .desinys-block .kvadratas1 {
      margin-left: 0; }
    .blokas5 .desinys-block .kvadratas3 {
      margin-left: 0; }

  .back-img-6 {
    margin: 0;
    width: 100%;
    height: 523px; }

  .blokas6 {
    gap: none;
    flex-direction: column; }
    .blokas6 .gradient {
      z-index: 1;
      position: absolute;
      width: 230.09px;
      height: 358.67px;
      top: 49px;
      left: -125px; }
    .blokas6 img {
      position: absolute;
      width: 230.09px;
      height: 358.67px;
      top: 49px;
      left: -125px;
      object-position: -408px 0; }
    .blokas6 .blokas {
      z-index: 2;
      width: 290px;
      height: auto;
      padding-top: 64px; }
      .blokas6 .blokas h1 {
        width: auto;
        height: 76.28px;
        font-size: 33px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 3px;
        text-align: left;
        margin-left: 101.19px;
        margin-bottom: 3.4px; }
      .blokas6 .blokas h3 {
        height: 27.79px;
        width: auto;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 2px;
        text-align: left;
        margin-left: 101.19px;
        margin-bottom: 0; }
      .blokas6 .blokas p {
        font-size: 14px;
        line-height: 19.07px;
        text-align: left;
        margin: 0 0 35px 101.19px; }
      .blokas6 .blokas form {
        display: block; }
        .blokas6 .blokas form input[type=email] {
          width: 290px;
          height: 44px;
          border-radius: 3px;
          font-size: 14px;
          line-height: 19.07px;
          text-align: left;
          padding: 27px 0 10px 16.68px;
          margin-bottom: 20.48px; }
        .blokas6 .blokas form input[type=submit] {
          width: 290px;
          height: 44px;
          font-size: 14px;
          line-height: 19.07px;
          text-align: center; }
      .blokas6 .blokas .email-txt {
        font-size: 12px;
        line-height: 16.34px;
        text-align: left;
        top: 363px;
        left: -86px; }

  .back-img-7 {
    margin: 0;
    width: 100%;
    height: 493px; }

  footer {
    padding: 29.73px 0 0 0; }
    footer .virsus {
      flex-direction: column;
      align-items: center; }
      footer .virsus .logo {
        margin: 0; }
        footer .virsus .logo img {
          width: 50px;
          height: 50px;
          margin-bottom: 42.26px; }
      footer .virsus .menu-juosta {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-right: 0;
        padding: 0 7px 0 7px;
        margin-bottom: 42px; }
        footer .virsus .menu-juosta a {
          font-size: 12px;
          line-height: 16.34px;
          letter-spacing: 0.1em;
          text-align: right; }
      footer .virsus .socials {
        justify-content: space-between;
        gap: 53px;
        padding: 0 24.28px 0 24.28px; }
        footer .virsus .socials a img {
          transform: scale(0.9); }
    footer hr {
      margin: 40px 0 30px 0; }
    footer .apacia {
      flex-direction: column; }
      footer .apacia p {
        width: auto;
        height: 38.2px;
        font-size: 12px;
        line-height: 16.34px;
        text-align: left;
        margin-bottom: 13.32px; }
      footer .apacia a {
        width: 161.85px;
        font-size: 12px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.1em;
        text-align: center; } }

/*# sourceMappingURL=main-css.css.map */
