body {
    margin: 0;
}

.centras1 {
    background: lightcyan;
    text-align: center;
}

.centras2 {
    background: lightseagreen;
    text-align: center;
}

.centras2 h2 {
    margin: 0;
}

.centras3 {
    text-align: center;
}

.centras4 {
    text-align: center;
}

.centras5 {
    background: lightgreen;
    }

.centras5 .vidinis {
    background: yellow;
    width: 200px;   
    margin: 0 auto;
}

.korteles {
    background: lightskyblue;
    padding: 20px;
}

.korteles p {
    margin: 0;
}

.korteles .korta {
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    margin: 20px auto;
}

.plotis {
    background: lightpink;
    padding: 80px 30px;
}

.plotis .vidinis {
    background: white;
    width: 400px;
    padding: 50px;
    border: 2px solid grey;
    margin: 0px auto;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 black;
}

.renginiai {
    background: greenyellow;
    padding: 30px;
}

.renginiai .renginys {
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    box-sizing: border-box;
    margin: 25px auto;
}

.renginiai h2, .renginiai p {
    margin: 0;
}

.renginiai .renginys .virsus {
    background: #222;
    color: white;
    padding: 20px 40px;
}

.renginiai .renginys .apacia {
    padding: 20px 40px;
}

.renginiai .renginys a {
    background: red;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
}