body {
    background: rgb(78, 78, 78);
}

h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

li {
    font-style: italic;
}


/* important, kad nenumuštu kitų, overridintu visus mygtukus */
li:hover {
    color: royalblue !important ;
}

h2 {
    color: bisque;
}

p {
    font-size: 25px;
}

#tekstas {
    border-left: 3px solid black;
}

#paryskintas {
    font-weight: 800;
}

#melynas {
    color: blue;
}

.preke {
    background: orangered;
    margin: 20px;
}

.pabrauktas {
    text-decoration: underline;
}

.baltas {
    color: white;
}

h1, h2, h3 {
    text-transform: uppercase;
}

p, a, li {
    font-family: Arial, Helvetica, sans-serif;
}

.istemptas, h1 {
    letter-spacing: 2px;
}

ol li {
    text-align: center;
    color: white;
}

.test li {
    text-align: left;
    list-style-type: lower-alpha;
    color: red;
}

.test .pirmaeil {
    color: orange;
}

.mokymai-skiltis .kursas h3 {
    color: blueviolet;
}

a {
    background: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.2s all; 
}

/* mygtukas pakeist tik background, nes jau a elementas nusakytas, tai čia reikia surašyti tik ką pakeičia: */
a:hover {
    background-color: darkred;
}

/* taikyti ne ant tiesioginio elemento: */
.tevinis {
    background: lightblue;
}

.tevinis button {
    background: silver;
    transition: 0.2s all;
}

.tevinis:hover button {
    background: lightgreen;
}

.tevinis button:hover {
    background: gold;
}