.home-page {
    header {
        background: royalblue;
        padding: 50px;
    }

    .paslaugu-blokas {
        .paslaugos {
            display: flex;
            gap: 20px;
            
            .paslauga {
                flex: 1;
            }
        }
    }
}