.modal-wrapper {
    display: none;
}

.modal-wrapper .backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-wrapper .modal {
    background: white;
    width: 400px;
    position: fixed;
    z-index: 1100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sonas {
    width: 250px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 900;
    transition: 0.2s all;
    transform: translateX(100%);
}

.sonas-atidarytas {
    transform: translateX(0);
}

nav {
    background: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    /* NAVIGACIJAI GAL STICKY OPTIMALIAUSIAS */
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}

header {
    background: silver;
    padding: 80px 20px;
}

.tekstas {
    /* turi buti tiek kiek navigacija turi aukscio su padding ir viskuo: */
    margin-top: 70px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    
}

.messenger {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.messenger button {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.cookie-juosta {
    background: white;
    border: 2px solid red;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;

    /* 
    ABI AŠIS JEIGU:

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
}

.pirmas-prilipes {
    width: 200px;
    height: 200px;
    background: lightskyblue;
    position: fixed;
    left: 20px;
    bottom: 50px;    
}

.antras-prilipes {
    width: 100px;
    height: 100px;
    background: lightgreen;
    position: fixed;
    left: 150px;
    bottom: 50px;
    z-index: 100;
}

