body {
    margin: 0;
}

header {
    background: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eile {
    display: flex;
    align-items: flex-start;
}

.sonas {
    background: lightgray;
    position: sticky;
    top: 20px;
    width: 200px;
    flex-shrink: 0;
}